<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/success-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Cadastro criado com sucesso!</title>
</head>
<body id="success-page">
    <main>
        <div id="container">


            <div class="imagem">
                
            </div>
            <div class="texto">
                <h1>Cadastro salvo!</h1>
                <p>Tudo certo, seu cadastro está na nossa lista de professores.</p>
                <p>Agora é só ficar de olho no seu Whatsapp.</p>
            </div>
         </div>
    </main>
</body>
</html>